<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Text-File-Viewer || Main</title>

  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.3/css/materialize.min.css">

  <!-- material icons-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <link rel="stylesheet" href="./view/resources/style.css">

</head>

<body>
  <nav class="teal">
    <div class="nav-wrapper">
      <form action="/search" name="search">
        <div class="input-field">
          <input id="search" type="search" name="q" required>
          <label class="label-icon" for="search">
            <i class="material-icons">search</i>
          </label>
          <i class="material-icons">close</i>
        </div>
      </form>
    </div>
  </nav>

  <div class="row section">
    {{range .}}
    <div class="col s6 m4 l3">
      <a class="modal-trigger" href="#modal{{.ID}}">
        <div class="card teal lighten-4">
          <div class="card-content black-text">
            <span class="card-title">{{.FileName}}</span>
            <p>{{.Digest}}</p>
          </div>
          <div class="card-action path">
            <a href="#">{{.Path}}</a>
          </div>
        </div>
      </a>

      <div id="modal{{.ID}}" class="modal">
        <div class="modal-content">
          <h4>{{.FileName}}</h4>
          <p>{{.Contents}}</p>
        </div>
        <div class="modal-footer">
          <a href="#" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
        </div>
      </div>

    </div>
    {{end}}
  </div>
  <!-- Compiled and minified JavaScript -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.3/js/materialize.js"></script>
  <script type="text/javascript" src="./view/resources/init.js"></script>
</body>

</html>
