<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style type="text/css">
        .card {
            padding: 90px 0;
        }

        .card-title {
            padding-bottom: 30px;
        }
    </style>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.3/css/materialize.min.css">

</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col s6 offset-s3">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title center-align">Oops, There is No File</span>
                        <p class="center-align">it seems there's no files in "{{.}}",<br>or there's no directory named "{{.}}"</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>